body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paper-left {
  padding: 2%;
  text-align: left;
}

.paper-center {
  padding: 2%;
}

.players-list {
  margin-top: 5% !important;
}

.player-free-card {
  background-color: #09abe6 !important;
}

.player-assigned-card {
  background-color: #92d0de !important;
}

.player-selection-buton {
  background-color: #1cb874 !important;
}

.error-window {
  margin-top: 20%;
}